body{
	overflow: hidden;
	overflow-wrap: none;
	margin: 0px;
}
#workspace{
	background-color: rgb(116, 116, 116);
	width: 100vw;
	height: 100vh;
}
#canvas{
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
}
.block{
	border-radius: 4px;
	position: absolute;
	padding: 5px;
	font-size: 20px;
	font-family: monospace;
	color: white;
	text-align: center;
	border: 3px solid rgb(83, 83, 83);
	user-select: none;
}
.block .pin{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: black;
	transition: background-color 0.2s;
	cursor: pointer;
}

.isActive{
	background-color: inherit!important;
	/* filter: brightness(133%); */
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.block .pin:hover{
	background-color: inherit;
}

.tooltip::before{
	padding: 2px;
	width: 100px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -140%);
	background-color: rgba(0.0, 0.0, 0.0, 0.7);
	font-size: 13px;
	content: "Double Click to Edit";
	line-height: 13px;
	transition: opacity 0.2s;
	opacity: 0;
	pointer-events: none;
}
.tooltip::after{
	content: "";
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -100%);
	border-width: 6.5px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
	transition: opacity 0.2s;
	opacity: 0;
	pointer-events: none;
}
.tooltip:hover::before{
	opacity: 1;
}
.tooltip:hover::after{
	opacity: 1;
}

.pin::before{
	padding: 2px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: rgba(0.0, 0.0, 0.0, 0.7);
	font-size: 13px;
	content: attr(data-name);
	line-height: 13px;
	transition: opacity 0.2s;
	opacity: 0;
	pointer-events: none;
}
.pin[style*="-7.5"]::before{
	transform: translate(calc(-100% - 10px), -50%);
}
.pin[style*="60"]::before,.pin[style*="104"]::before{
	transform: translate(10px, -50%);
}
.pin:hover::before{
	opacity: 1;
}

.toggle{
	width: 35px;
	height: 19px;
	position: relative;
	cursor: pointer;
}
.toggle::before{
	content: "";
	width: 35px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(148, 148, 148);
	border-radius: 34px;
	transition: 0.25s;
}
.toggle:checked::before{
	background-color: rgb(140, 140, 255);
}
.toggle::after{
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translate(0, -50%);
	border-radius: 20px;
	background-color: rgb(113, 113, 113);
	transition: 0.25s;
	/* box-shadow: rgba(1, 1, 1, 0.5) 1px 1px 3px; */
}
.toggle:checked::after{
	background-color: rgb(23, 23, 255);
	transform: translate(15px, -50%);
}

#edit{
	background-color: rgb(102, 102, 102);
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	max-height: 200px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	border: 5px solid rgb(102, 102, 102);
	transition: transform 0.3s, opacity 0.1s;
}
#edit::-webkit-scrollbar{
	width: 10px;
}
#edit::-webkit-scrollbar-track{
	background-color: rgb(180, 180, 180);
	opacity: 0.5;
}
#edit::-webkit-scrollbar-thumb{
	background-color: grey;
	border-radius: 10px;
}
#edit::-webkit-scrollbar-thumb:hover{
	background-color: rgb(120, 117, 117);
}
.editPin{
	display: flex;
	background-color: #ccc;
	padding: 5px;
}
.editPin:not(:last-child){
	border-bottom: 2px solid rgb(102, 102, 102);
}
.editPin *{
	align-items: center;
	margin: 2px 6px 2px 6px;
	font-family: monospace;
}

#contextMenu{
	position: absolute;
	border-radius: 4px;
	background-color: rgb(182, 182, 182);
	z-index: 100;
	width: 150px;
	max-height: 220px;
	overflow-y: auto;
	overflow-x: hidden;
	transition: transform 0.2s;
	transform-origin: top;
	padding: 2px;
}
#contextMenu::-webkit-scrollbar{
	display: none;
}
#contextMenu div{
	margin: 1px;
	font-family: monospace;
	font-size: 16px;
	padding: 3px;
	border-radius: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#contextMenu div:first-child{
	margin-bottom: 3px;
	border-bottom: 1px solid grey;
	position: sticky;
	top: -5px;
	background-color: rgb(182, 182, 182);
}
#contextMenu div:not(:first-child){
	cursor: pointer;
}
#contextMenu div:not(:first-child):hover{
	background-color: rgb(140, 140, 140);
}