* {
	user-select: none;
}
body {
	overflow: hidden;
	overflow-wrap: none;
	margin: 0px;
}
#workspace {
	background-color: rgb(69, 69, 69);
	background-size: 40px 40px;
	background-image: linear-gradient(to right, grey 2px, transparent 1px),
		linear-gradient(to bottom, grey 2px, transparent 1px);
	width: 100vw;
	height: 100vh;
	background-position: -2px -1px;
}
#canvas {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
}
.block {
	border-radius: 4px;
	position: absolute;
	padding: 5px;
	font-size: 20px;
	font-family: monospace;
	color: white;
	text-align: center;
	border: 3px solid rgb(60, 60, 60);
	user-select: none;
}
.block.isSelected {
	box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.25);
}
.pin {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: black;
	transition: background-color 0.2s;
	cursor: pointer;
}

.isActive {
	background-color: inherit !important;
	/* filter: brightness(133%); */
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.pin:hover {
	background-color: inherit;
}

.tooltip::before {
	padding: 2px;
	width: 100px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -140%);
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 13px;
	content: 'Double Click to Edit';
	line-height: 13px;
	transition: opacity 0.2s;
	opacity: 0;
	pointer-events: none;
}
.tooltip::after {
	content: '';
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -100%);
	border-width: 6.5px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
	transition: opacity 0.2s;
	opacity: 0;
	pointer-events: none;
}
.tooltip:hover::before {
	opacity: 1;
}
.tooltip:hover::after {
	opacity: 1;
}

.pin:not([data-name=''])::before {
	padding: 2px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 13px;
	content: attr(data-name);
	line-height: 13px;
	transition: opacity 0.2s;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
}
.pin[style*='-7.5']::before {
	transform: translate(calc(-100% - 10px), -50%);
}
.pin:not([style*='-7.5'])::before {
	transform: translate(10px, -50%);
}
.pin:hover::before {
	opacity: 1;
}

.toggle {
	width: 35px;
	height: 19px;
	position: relative;
	cursor: pointer;
}
.toggle::before {
	content: '';
	width: 35px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(148, 148, 148);
	border-radius: 34px;
	transition: 0.25s;
}
.toggle:checked::before {
	background-color: rgb(140, 140, 255);
}
.toggle::after {
	content: '';
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translate(0, -50%);
	border-radius: 20px;
	background-color: rgb(113, 113, 113);
	transition: 0.25s;
	/* box-shadow: rgba(1, 1, 1, 0.5) 1px 1px 3px; */
}
.toggle:checked::after {
	background-color: rgb(23, 23, 255);
	transform: translate(15px, -50%);
}

#edit {
	background-color: rgb(102, 102, 102);
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	max-height: 200px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	border: 5px solid rgb(102, 102, 102);
	transition: transform 0.3s, opacity 0.1s;
}
#edit:has(div:only-child) {
	overflow: hidden;
}
#edit::-webkit-scrollbar {
	width: 10px;
}
#edit::-webkit-scrollbar-track {
	background-color: rgb(180, 180, 180);
	opacity: 0.5;
}
#edit::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 10px;
}
#edit::-webkit-scrollbar-thumb:hover {
	background-color: rgb(120, 117, 117);
}
.editPin {
	display: flex;
	background-color: #ccc;
	padding: 5px;
	position: relative;
}
.editPin:first-child {
	border-top: 2px solid transparent;
}
.editPin:not(:last-child) {
	border-bottom: 2px solid rgb(102, 102, 102);
}
.editPin:last-child {
	overflow: hidden;
	border-bottom: 2px solid transparent;
}
.editPin * {
	align-items: center;
	margin: 2px 6px 2px 6px;
	font-family: monospace;
}
.editPin:has(.addPin:hover:not(.addTop)) {
	border-bottom: 2px dashed green;
}
.editPin:has(.addPin.addTop:hover) {
	border-top: 2px dashed green;
}
.editPin:has(.addSpacer.addTop:hover) {
	border-top: 2px dashed blue;
}
.editPin:has(.addSpacer:hover:not(.addTop)) {
	border-bottom: 2px dashed blue;
}
.addNew {
	position: absolute;
	top: calc(100% + 1.3px);
	transform: translate(0, -50%);
	z-index: 1;
	margin: 0;
	opacity: 0;
	text-align: center;
	font-size: 30px;
	font-family: impact;
	cursor: pointer;
}
.addTop {
	bottom: calc(100%);
	top: unset;
	transform: translate(0, 50%);
}
.addNew:hover {
	opacity: 1;
}
.addPin {
	color: green;
	left: 0;
}
.addSpacer {
	color: blue;
	right: 0;
}

.name {
	width: 100px;
}
.editPin u {
	margin: 0px;
}

#contextMenu {
	position: absolute;
	border-radius: 4px;
	/* background: rgba(93, 93, 93, 0.5); */
	background-color: rgba(36, 36, 36, 0.3);
	z-index: 100;
	width: 150px;
	max-height: 220px;
	overflow-x: hidden;
	transition: transform 0.2s, opacity 0.2s;
	transform-origin: top;
	padding: 2px;
	backdrop-filter: blur(6px);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
	color: white;
	user-select: none;
}
#contextMenu::-webkit-scrollbar {
	display: none;
}
#contextMenu div {
	margin: 1px;
	font-family: monospace;
	font-size: 16px;
	padding: 3px;
	border-radius: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#contextMenu div:has(strong) {
	margin-bottom: 3px;
	border-bottom: 1px solid grey;
}
.options {
	max-height: 100px;
	overflow-y: auto;
}
#contextMenu div:not(:first-child) div {
	cursor: pointer;
	transition: background-color 0.1s;
	background-color: rgba(0, 0, 0, 0);
}
#contextMenu div:not(:first-child) div:hover {
	background-color: grey;
}

#selector {
	position: absolute;
	top: 500px;
	left: 204px;
	width: 50px;
	height: 200px;
	/* z-index: 99; */
	background-color: rgba(122, 122, 122, 0.5);
	border: 1px solid rgba(175, 175, 175, 0.7);
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 15%;
	min-width: 200px;
	height: 100%;
	/* border-right: 3px solid rgb(171, 171, 171); */
	background-color: rgba(36, 36, 36, 0.7);
	backdrop-filter: blur(6px);
	transition: left 0.2s;
	color: white;
	font-family: monospace;
	font-size: 17px;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebarResize {
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	right: 0%;
	background-color: rgb(171, 171, 171);
	cursor: ew-resize;
}
#collapseButton {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 15px;
	height: 15px;
	transform: rotate(45deg);
	border-bottom: 3px solid rgb(180, 180, 180);
	border-left: 3px solid rgb(180, 180, 180);
	cursor: pointer;
}
#collapseButton::after {
	content: '';
	position: absolute;
	top: 7px;
	right: 7px;
	width: 15px;
	height: 15px;
	border-bottom: 3px solid rgb(180, 180, 180);
	border-left: 3px solid rgb(180, 180, 180);
}
#expandButton {
	position: absolute;
	top: 7px;
	left: 0px;
	width: 15px;
	height: 15px;
	transform: rotate(-135deg);
	border-bottom: 3px solid rgb(255, 255, 255);
	border-left: 3px solid rgb(255, 255, 255);
	cursor: pointer;
	z-index: 98;
	transition: opacity 0.2s;
}
#expandButton::after {
	content: '';
	position: absolute;
	top: 7px;
	right: 7px;
	width: 15px;
	height: 15px;
	border-bottom: 3px solid rgb(255, 255, 255);
	border-left: 3px solid rgb(255, 255, 255);
}
#sidebarControls {
	display: inline;
	border-bottom: 1px solid grey;
	/* margin-bottom: 3px; */
	background-color: rgb(67, 67, 67);
	padding: 3px;
}
#sidebarControls p {
	text-align: center;
	margin: 0;
	/* padding-bottom: 3px; */
}
#sidebarOptions {
	/* margin-top: 30px; */
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}
#sidebarOptions p {
	margin: 0px;
	padding-left: 5px;
	cursor: pointer;
	transition: background-color 0.1s;
}
.sidebarContainer {
	position: relative;
	display: inline-block;
}
.sidebarPreviewBlock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	padding: 5px;
	border-radius: 4px;
	border: 3px solid rgb(60, 60, 60);
	text-align: center;
	cursor: default;
	white-space: nowrap;
}
#createLabel {
	border-bottom: 1px solid grey;
	padding-bottom: 5px;
	margin-top: 17px;
	margin-bottom: 0;
	padding-left: 5px;
}
#sidebarOptions p:first-child {
	margin-top: 5px;
}
#encapsulateButton {
	margin: auto;
	text-align: center;
	margin-top: 8px;
	font-size: 20px;
	padding: 4px;
	width: fit-content;
	background-color: rgb(92, 92, 92);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
}
#encapsulateButton:hover {
	background-color: rgb(103, 103, 103);
}
#encapsulateButton:active {
	background-color: rgb(65, 65, 65);
}
#sidebarOptions p:hover {
	background-color: grey;
}
#encapsulateWindow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: monospace;
	background-color: rgb(56, 56, 56);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 2.8px 6.1px 5.5px rgba(0, 0, 0, 0.039), 8.2px 17.8px 13.2px rgba(0, 0, 0, 0.057),
		16.8px 36.7px 24.8px rgba(0, 0, 0, 0.07), 30px 65.6px 44.2px rgba(0, 0, 0, 0.083),
		51.5px 112.7px 82.7px rgba(0, 0, 0, 0.101), 102px 223px 198px rgba(0, 0, 0, 0.14);
	color: rgb(235, 235, 235);
	z-index: 151;
	transition: transform 0.3s, opacity 0.1s;
}
#encapsulateWindow label {
	font-size: 20px;
}
#encapsulateWindow * {
	margin: 0;
	margin-bottom: 5px;
}
#encapsulateWindow *:nth-child(3) {
	margin-right: 10px;
}
#encapsulateWindow *:nth-child(5) {
	margin-right: 10px;
}
#encapsulateWindow input[type='text'] {
	font-family: monospace;
}
#previewWindow {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	margin-bottom: 0;
	margin-top: 5px;
	border-radius: 5px;
	background-color: rgb(69, 69, 69);
	background-size: 40px 40px;
	background-image: linear-gradient(to right, grey 2px, transparent 1px),
		linear-gradient(to bottom, grey 2px, transparent 1px);
	background-position: -2px, -1px;
	overflow: hidden;
}
#savePreviewBlock {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	padding: 5px;
	border-radius: 4px;
	border: 3px solid rgb(60, 60, 60);
	text-align: center;
	background-color: var(--sliderColor);
	cursor: default;
	text-wrap: nowrap;
}
#blockOut {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 150;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity 0.2s;
}
#closeButton {
	position: absolute;
	font-size: 30px;
	width: 30px;
	height: 30px;
	top: 5px;
	right: 5px;
	color: white;
	cursor: pointer;
}
#closeButton:hover {
	color: red;
}
/* Following code from http://danielstern.ca/range.css/?ref=css-tricks#/ (Modified by me)*/
input[type='range'] {
	margin: 5px 0;
	background-color: transparent;
	-webkit-appearance: none;
}
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
	background: hsl(0, 100%, 68%);
	background: linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -moz-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	border: 0;
	border-radius: 25px;
	height: 10px;
	cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
	margin-top: -5px;
	width: 20px;
	height: 20px;
	background: var(--sliderColor);
	border: 2px solid white;
	border-radius: 20px;
	cursor: pointer;
	-webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
	background: hsl(0, 100%, 68%);
	background: linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -moz-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
}
input[type='range']::-moz-range-track {
	background: hsl(0, 100%, 68%);
	background: linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -moz-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	border: 0;
	border-radius: 25px;
	height: 10px;
	cursor: pointer;
}
input[type='range']::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: var(--sliderColor);
	border: 2px solid white;
	border-radius: 20px;
	cursor: pointer;
}
input[type='range']::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 5px 0;
	color: transparent;
	height: 10px;
	cursor: pointer;
}
input[type='range']::-ms-fill-lower {
	background: hsl(0, 100%, 68%);
	background: linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -moz-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	border: 0;
	border-radius: 50px;
}
input[type='range']::-ms-fill-upper {
	background: hsl(0, 100%, 68%);
	background: linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -moz-linear-gradient(
		0deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	border: 0;
	border-radius: 50px;
}
input[type='range']::-ms-thumb {
	width: 20px;
	height: 20px;
	background: var(--sliderColor);
	border: 2px solid white;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 0px;
	/*Needed to keep the Edge thumb centred*/
}
input[type='range']:focus::-ms-fill-lower {
	background: hsl(0, 100%, 68%);
	background: linear-gradient(
		90deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -moz-linear-gradient(
		90deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
}
input[type='range']:focus::-ms-fill-upper {
	background: hsl(0, 100%, 68%);
	background: linear-gradient(
		90deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
	background: -moz-linear-gradient(
		90deg,
		hsl(0, 100%, 68%) 0%,
		hsl(20, 100%, 68%) 5%,
		hsl(40, 100%, 68%) 11%,
		hsl(60, 100%, 68%) 16%,
		hsl(80, 100%, 68%) 22%,
		hsl(100, 100%, 68%) 27%,
		hsl(120, 100%, 68%) 33%,
		hsl(140, 100%, 68%) 38%,
		hsl(160, 100%, 68%) 44%,
		hsl(180, 100%, 68%) 50%,
		hsl(200, 100%, 68%) 55%,
		hsl(220, 100%, 68%) 61%,
		hsl(240, 100%, 68%) 66%,
		hsl(260, 100%, 68%) 72%,
		hsl(280, 100%, 68%) 77%,
		hsl(300, 100%, 68%) 83%,
		hsl(320, 100%, 68%) 88%,
		hsl(340, 100%, 68%) 94%,
		hsl(0, 100%, 68%) 100%
	);
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the vertical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
	/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
	input[type='range'] {
		margin: 0;
		/*Edge starts the margin from the thumb, not the track as other browsers do*/
	}
}
/* End code from http://danielstern.ca/range.css/?ref=css-tricks#/ */

