body{
	overflow: hidden;
	overflow-wrap: none;
	margin: 0px;
}
#workspace{
	background-color: rgb(116, 116, 116);
	width: 100vw;
	height: 100vh;
}
#canvas{
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
}
.block{
	border-radius: 4px;
	position: absolute;
	padding: 5px;
	font-size: 20px;
	font-family: monospace;
	color: white;
	text-align: center;
	border: 3px solid rgb(83, 83, 83);
	user-select: none;
}
.block .pin{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: black;
	transition: background-color 0.2s;
	cursor: pointer;
}

.isActive{
	background-color: red !important;
}
.block .pin:hover{
	background-color: inherit;
}